.Comment{
    *{
        margin: 0;
        padding: 0;
    }
    .clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
    .clearfix { *zoom:1; clear:both;}
    font-family: "微软雅黑";
    background-color: #F2F4F5;
    padding-bottom: 50px;
    em{
        font-style: normal;
    }
    .header{

        padding: 0 15px;
        background-color: #D33A31;
        font-family: "微软雅黑";
        font-size: 17px;
        position: fixed;
        width: 100%;
        z-index: 99;
        img{
            width: 26px;
            margin-right: 15px;
            vertical-align: middle;
            margin-top: -1px;
        }
        span{
            color: #ffffff;
        }
    }
    .comm_conter{
        padding-top: 65px;

    .box{
        padding: 10px;
        ul{
            height: 86px;
        }
        ul li{
            float:left;
            list-style: none;
        }
        li:first-child{
            width: 86px;
            height: 86px;
            padding-right: 10px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        li:first-child+li{
            margin-top: 15px;
            line-height:27px;
            p:first-child{
                font-family: "微软雅黑";
                font-size: 16px;
            }
            p:first-child+p{
                font-family: "微软雅黑";
                font-size: 15px;
                color: #6089B6;
            }
        }
        li:first-child+li+li{
            float: right;
            line-height: 90px;
        }

    }
    h1{
        background-color: #E7E9E9;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        color: #6D6D6D;
        padding: 0 10px;
        letter-spacing: 1px;
        font-weight: normal;
    }
    .test{
        padding:14px 10px;
        border-bottom: 1px solid #E6E8E9;
        padding-bottom: 5px;
        img{
            width: 39px;
            height: 39px;
            vertical-align: middle;
        }

        .test_one{
            margin: 8px 0 8px 11px;
            div:first-child{
                font-size: 15px;
                color: #6D6D6D;
                margin-bottom:19px;
                margin-top: 2px;
            }
            div:first-child+div img{
                width: 118px;
                height: 78px;
            }

            .test_two{
                margin: 8px 11px;
                span:first-child{
                    font-size: 14px;
                    line-height: 18px;
                }
                span:first-child+span{
                    font-size: 12px;
                    color: #9D9D9D;
                    margin-top: 9px;
                    em{
                        font-style:normal;
                    }
                }
            }
        }
    }
    .comm_box {
        padding: 14px 0px 0px 10px;
        border: none;
        .avatar{
            width: 39px;
            height: 39px;
        }
        .avatar img{
            border-radius: 30px;
        }
        .test_one{
            margin-top: 0;
            border-bottom: 1px solid #E6E8E9;
            padding: 0px 11px 8px 0px;
            margin: 0;
            margin-left: 11px;
        }
        .comm_left em:first-child{
            font-size: 14px;
        }
        .comm_left em:first-child+em{
            font-size:12px;
            color: #B6B8B9;
            transform: scale(0.8);
            transform-origin: 0 0;
        }
        .comm_rigth{
            height: 20px;
            border:none!important;
            background-color:#F2F4F5!important;
        }
        .comm_rigth em{
            font-size: 13px;
            vertical-align:middle;
            color: #98999A;
            margin-right: 5px;
            margin-top: 3px;
        }
        .comm_rigth .ImgBtn{
            width: 20px;
            height: 20px;
        }
        .comm_rigth .ImgBtn img{
            width: 100%;
            height: 100%;
            vertical-align: middle;
            margin-top: -7px;
        }
        .words{
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 3px;
        }
    }
    .comm_footer{
        width: 100%;
        height:52px;
        position: fixed;
        background: #ffffff;
        border-top: 1px solid #e4e4e4;
        bottom: 0;
        padding:10px;
        box-sizing: border-box;
        input{
            width: 100%;
            height: 30px;
            line-height: 36px;
            border: none;
            text-indent: 1.7em;
            font-size: 15px;
        }
        input:focus {
            outline:none;
        }
        span:first-child{
            border-bottom: 1px solid #DBDBDB;
            img{
                position: absolute;
                margin-top: 3px;
                width: 25px;
                height: 25px;
            }
        }
            span:first-child+span{
            color:#CCCCCC;
            margin-top: 5px;
            width: 45px;
            text-align: right;
        }
    }
    }

}