.Comment{
    .header{
      height: 65px;
    }

    em:first-child{
        margin:0 30px;
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    em:first-child img{
       width:100%;
        height:100%;
    }
    em{
        font-size:0.3rem;
        font-style: normal;
        color: #ffffff;
        vertical-align: middle;
    }

}