.Comment{
    .header{
        height: 65px;
        line-height: 65px;
        width: 100%;
        padding: 0 15px;
        background-color: #D33A31;
        font-family: "微软雅黑";
        margin-top: -1px;
        img{
            width: 26px;
            margin-right: 10px;
            vertical-align: middle;
        }
        span{
            color: #ffffff;
        }
    }



}