.CollectionSong {
  width: 92%;
  height: 450px;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 16.6%;
  right: 0;
  overflow: hidden;
  z-index: 1000;
  margin: 0 auto;
  background-color: #fff;
  font-family: "微软雅黑";
  p {
    width: 92%;
    height: 70px;
    line-height: 80px;
    font-size: 19px;
    margin: 0;
    position: fixed;
    background-color: #ffffff;
    padding-left: 15px;
    box-sizing: border-box;
    z-index: 99;
  }
  .box {
    padding-top: 80px;
    height: 365px;
    overflow: scroll;
    .song_sheet {
      background-color: #ffffff;
      margin-bottom: 16px;
      .song_img {
        width: 49px;
        height: 48.5px;
        margin-right: 15px;
        padding: 0px 0 0px 15px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          position: relative;
        }
        .mask {
          position: absolute;
          top: 0px;
          left: 15px;
          width: 49px;
          height: 48.5px;
          background-color: #000;
          opacity: 0.7;
        }
        .maskimg {
          position: absolute;
          top: 0px;
          left: 15px;
          width: 49px;
          height: 48.5px;
        }
      }
      .song_right {
        flex-grow: 1;
        border-bottom: none;
        padding-right: 10px;
        span:first-child {
          font-size: 16px;
          margin-bottom: 8px;
        }
        span:first-child + span {
          font-size: 13px;
          color: #8D9190;
          margin-top: -2px;
        }
        div:first-child + div img {
          width: 70%;
        }
      }
    }
  }
  .create-album-div {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    .center {
      position: absolute;
      left: 0;
      top: 0;
      margin: auto;
      bottom: 0;
      right: 0;
      background-color: white;
      width: 80%;
      height: 200px;
      box-sizing: border-box;
      justify-content: space-between;
      padding: 20px 18px 15px;
      ::-webkit-input-placeholder { /* WebKit browsers */
        color: #ddd;
      }
      input {
        padding-bottom: 7px;
        margin-top: 10px;
        padding-left: 5px;
        font-size: 15px;
        border-bottom: 1px solid #ddd;
        width: 100%;
      }
      .input-count {
        align-self: flex-end;
        color: #ddd;
        font-size: 15px
      }
      .button{
        color: #ff4500;
        font-size: 16px;
        padding: 5px 15px;
      }
    }

  }
}