.Collection {
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: scroll;
  background-color: rgba(0,0,0,0.7);
  left: 0;
  z-index: 1000;
  .scroll-div{
    width: 100%;
    height: 100%;
  }
  .modal {
    width: 100%;
    height: 60%;
    //position: absolute;
    //bottom: 0;
    //left: 0;
    background-color: #F3F3F3;
    font-family: "微软雅黑";
    overflow: scroll;
    p {
      color: #6F6F6F;
      padding: 10px 0px 0px 15px;
      font-size: 15px;
      margin: 16px 0 10px 0;
    }
    .page_list {

      .item {
        height: 50px;
      }
      .item > div {
        height: 55px;
        width: 100%;
        font-size: 15px;
        border-bottom: 1px solid #e4e4e4;
      }
      em {
        /*color: #8F9392;*/
        font-style: normal;
        /*font-size: 14px;*/
      }
      img {
        width: 35px;
        height: 34px;
        margin: 0 13px;
      }

    }
  }

  @keyframes collection_fade_in {
    from {
     background-color: rgba(0,0,0,0);
    }
    to {
      background-color: rgba(0,0,0,0.7);
    }
  }
  @keyframes collection_fade_out{
    from {
      background-color: rgba(0,0,0,0.7);
    }
    to {
      background-color: rgba(0,0,0,0);
    }
  }
  @keyframes collection_up {
    from {
      transform: translate(0, 100%);
    }
    to {
      transform: translate(0, 0);
    }
  }
  @keyframes collection_down{
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0, 100%);
    }
  }
}