.CollectionSong {
  width: 95%;
  height: 498px;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 16.6%;
  right: 0;
  margin: 0 auto;
  background-color: #F3F3F3;
  font-family: "微软雅黑";
  p {
    width: 95%;
    height: 85px;
    line-height: 85px;
    font-size: 19px;
    margin: 0;
    position: fixed;
    background-color: #ffffff;
    padding-left: 15px;
    box-sizing: border-box;
    z-index: 99;
  }
  .box {
    overflow: hidden;
    padding-top: 85px;
    height: 413px;
    background-color: #ffffff;
    overflow: overlay;
    .song_sheet {
      background-color: #ffffff;
      margin-bottom: 16px;
      .song_img {
        width: 49px;
        height: 48.5px;
        margin-right: 15px;
        padding: 0px 0 0px 15px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          position: relative;
        }
        .mask {
          position: absolute;
          top: 0px;
          left: 15px;
          width: 49px;
          height: 48.5px;
          background-color: #000;
          opacity: 0.7;
        }
        .maskimg {
          position: absolute;
          top: 0px;
          left: 15px;
          width: 49px;
          height: 48.5px;
        }
      }
      .song_right {
        flex-grow: 1;
        border-bottom: none;
        padding-right: 10px;
        span:first-child {
          font-size: 16px;
          margin-bottom: 8px;
        }
        span:first-child + span {
          font-size: 13px;
          color: #8D9190;
          margin-top: -2px;
        }
        div:first-child + div img {
          width: 70%;
        }
      }
    }
  }

}