.Loading {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1200;
  font-size: 17px;

  .center {
    position: absolute;
    border-radius: 20px;
    margin: auto;
    width: 50%;
    height: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.98);
    top: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .toast-content{
      margin-top: 10px;
      color: #555;
    }

  }
  @keyframes  loading-animation{
    from{
      transform: rotate(0);
    }
    to{
      transform: rotate(360deg);
    }
  }
}
