.page {
    background-image: url(./img/ww.jpg);
}

.page2title {
    position: relative;
    height: 65px;
    align-items: center;
    box-sizing: border-box;
    padding-left: 15px;
    color: white;
    justify-content: space-between;
    padding-right: 15px;
}

.line {
    height: 1px;
    background: linear-gradient(left, rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 0.6), rgba(200, 200, 200, 0.1));
}
.circle-lrc-contain{
    height: 65vh;
}
.circleContain {
    position: relative;
    height: 100%;
}
.dialog-lrc{
    position: relative;
    height: 100%;
    overflow: scroll;
}
#lrc {
    color: white;
    font-size: 15px;
    padding: 30px;
    line-height: 30px;
}
.div-img1 {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.div-img1 img {
    width: 26%;
    position: relative;
    left: 45%;
    top: -20px;
}

@-webkit-keyframes head-in {
    from {
        transform-origin: 18% 12%;
        transform: rotate(-30deg);
    }
    to {
        transform-origin: 18% 12%;
        transform: rotate(0deg);
    }
}
@-webkit-keyframes head-out {
    from {
        transform-origin: 18% 12%;
        transform: rotate(0deg);
    }
    to {
        transform-origin: 18% 12%;
        transform: rotate(-30deg);
    }
}
.g-pan {
    position: absolute;
    width: 75vw;
    height: 75vw;
    margin: auto;
    top: 10vh;
    left: 0;
    right: 0;
}

.g-pan .big {
    position: absolute;
    width: 100%;
    height: 100%;
}

.g-pan .small {
    position: absolute;
    border-radius: 50%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    animation:anim2 20s linear 1s infinite forwards;
    bottom: 0;
    width: 70%;
    height: 70%;
    object-fit: cover;
}

@keyframes anim2 {
    from {
        transform-origin: 50% 50%;
        transform: rotate(0deg);
    }
    to {
        transform-origin: 50% 50%;
        transform: rotate(360deg);
    }
}
.page2Menu1{
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
}
.page2Menu1 .ImgBtn{
    position: relative;
    float: left;
    color: white;
    width: 25%;
}
@keyframes btnBig {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes btnBig1 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.controlMenu{
    justify-content: center;
}
.controlMenu .ImgBtn{
    width: 15% !important;
}